<p-growl [(value)]="msgs"></p-growl>
<section class="hero is-primary is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <p>
              <strong>DBoard</strong>
            </p>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        DBoard
      </h1>
      <h2 class="subtitle">
        Your Tech Comrade
      </h2>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li [ngClass]="tabSelected == serviceRestart ? 'is-active': ''" (click)="tabSelected = serviceRestart ">
            <a data-intro='Hello step one!'>Service Restart</a>
          </li>
          <li [ngClass]="tabSelected == propertiesConfig ? 'is-active': ''" (click)="tabSelected = propertiesConfig ">
            <a data-intro='Hello step one!'>Properties Config</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<div class="container">
  <br/>
  <div class="box" [ngSwitch]="tabSelected">
    <div *ngSwitchCase='serviceRestart' class="columns">
      <div class="column is-2">
        <!-- <h3>
        <span class="tag is-info">Select Environment</span>
      </h3> -->
        <p-dropdown [options]="environment" [(ngModel)]="selectedEnvironment" [style]="{'width':'150px'}" filter="true">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="column is-3">
        <!-- <h3>
        <span class="tag is-info">Select Service</span>
      </h3> -->
        <p-dropdown [options]="services" [(ngModel)]="selectedService" [style]="{'width':'200px'}" filter="true">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="column is-2">
        <a class="button is-primary is-outlined" [ngClass]="isLoading ? 'is-loading' : '' " (click)="restart()">Restart</a>
      </div>
    </div>

    <div *ngSwitchCase='propertiesConfig'>
      <app-properties-config></app-properties-config>
    </div>
  </div>
</div>

