<nav class="navbar is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <h2 class="navbar-item">
        <p class="button is-primary is-focused">
          <strong>DBoard</strong>
        </p>
      </h2>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</nav>

<app-service-restart></app-service-restart>

<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>DBoard</strong> by <a>Darshan Satya</a>
        </p>
      </div>
    </div>
  </footer>