<div class="columns">
  <div class="column is-9 is-offset-4">
    <div class="buttons has-addons">
      <span class="button" [ngClass]="selectedEnvironment === 'Dev' ? 'is-info is-selected' : '' " (click)="selectedEnvironment = 'Dev'">Dev</span>
      <span class="button" [ngClass]="selectedEnvironment === 'Batest-1' ? 'is-info is-selected' : '' " (click)="selectedEnvironment = 'Batest-1'">Batest-1</span>
      <span class="button" [ngClass]="selectedEnvironment === 'Batest-2' ? 'is-info is-selected' : '' " (click)="selectedEnvironment = 'Batest-2'">Batest-2</span>
      <span class="button" [ngClass]="selectedEnvironment === 'UAT' ? 'is-info is-selected' : '' " (click)="selectedEnvironment = 'UAT'">UAT</span>
      <span class="button" [ngClass]="selectedEnvironment === 'Like Prod' ? 'is-info is-selected' : '' " (click)="selectedEnvironment = 'Like Prod'">Like Prod</span>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-6 is-offset-4">
    <p-dropdown [options]="services" [(ngModel)]="selectedService" [style]="{'width':'290px'}" filter="true">
      <ng-template let-item pTemplate="selectedItem">
        <span style="vertical-align:middle">{{item.label}}</span>
      </ng-template>
    </p-dropdown>
    <a class="button is-primary is-outlined" (click)="loadProperties()">Load</a>
  </div>
</div>

<hr/>
